.top-bar {
    background: linear-gradient(90deg, #f7f7f7 0%, #9fc5df 62%, #82add0 100% );
    display: flex;
    padding-right: 100px; padding-left: 100px;
    justify-content: space-between;
    height: 116px;
}
.top-bar:hover {
    background: linear-gradient(90deg, #ffffff 0%,#ffd9d9 62%, #ffd8d8 100%);
}
.logo-box {
    align-self: center;
}
.logo-box img {
    width: 220px;
}
.user-box {
    align-self: center;
}
.menu01>ul {
    display: flex; gap: 50px;
    height: 100%; align-items: center;
}
.m01-item:hover a {
    text-decoration: underline; /*표시선 만드는 아이*/
}
.m01-item a {
    font-size: medium; font: 15px;
     /*css 입력할때 menu01 ul 처럼 크게 잡을 경우 다른 요소들도 건들수 있기때문에 조심*/
}
.user-box>ul {
    display: flex; align-items: center;
    gap: 16px;
}
.user-item01>a{
    font-size: 27px; font-weight: 700;
}
.user-item02 {
    border: 1px solid #333;
    padding: 8px 16px;
    border-radius: 50px;
    transition: 0.3s;
}
.user-item02:hover {
    background-color: bisque;
    border: 1px solid sandybrown;
    color: sandybrown;
}
.user-item02>a {
    font-size: 15px;
}
.user-item03>a {
    display: flex;
    font-size: 15px;
}