.sct01 {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.sctbox {
    width: 250px; height: 600px;
    background-color: black;
}
.sct02 {
    height: 100vh;
    background-color: rgb(210, 234, 255);
}
.sct03 {
    height: 100vh;
    background-color: rgb(162, 211, 255);
}
.sct04 {
    height: 100vh;
    background-color: rgb(137, 200, 255);
}
.sct05 {
    height: 100vh;
    background-color: rgb(114, 189, 255);
}
.sct06 {
    height: 100vh;
    background-color: rgb(94, 180, 255);
}