.popup::before {
    /* 아무것도 작성하지 않아도 content: ""; 코드 필수 */
    content: "";

    width: 30px;
}.popup {
    background-color: #e8e8e8;
    padding-top: 12px; padding-bottom: 12px;
    display: flex; justify-content: space-between;
    color: #000;
    font-size: 10px;
    font-style: normal;
    line-height: 15px;
    padding-left: 20px; padding-right: 20px;
}
.popup::after {
    content: "x";
    font-size: 20px;
    cursor: pointer;
    width: 30px; text-align: right;
}
.top-bar {
    padding: 16px 20px;
    display: flex; justify-content: space-between;
}
.menu01 {
    display: flex; 
}
.menu01-ul {
    display: flex; 
    /* justify-content: space-between; */
    gap: 16px;
    color: #000;
    font-size: 11px;
    line-height: 15px;
}
.menu02 {
    background-color: gray;

}
.logo-box {   display: flex; align-items: center; }
.user-box-ul {
    width: 388px;
    gap: 16px;
    display: flex; justify-content: right;
    color: #000;
    text-align: right;
    font-size: 11px;
    line-height: 15px
}