.popup::before {
    content: "";
    width: 30px;
}
.popup {
    background: #E8E8E8;
    display: flex; justify-content: space-between;
    padding: 12px 0;
    padding-left: 20px; padding-right: 20px;
    font-size: 10px; line-height: 15px;
}
.popup::after {
    content: "x";
    width: 30px;
    cursor: pointer;
    font-size: 20px; text-align: right;
}
.top-bar {
    padding: 16px 20px;
    display: flex; justify-content: space-between;
    border: 1px solid red;
}
.menu01 {
    position: relative;
}
.menu01-ul {
    display: flex; 
    gap: 16px;
    border: 1px solid orange;
    color: #000;
    font-size: 11px; line-height: 15px;
}
.user-box {
    border: 1px solid red;
    width: 388px;
}
.user-box-ul {
    display: flex; justify-content: flex-end;
    gap: 16px;
    order: 1px solid orange;
    font-size: 11px; line-height: 15px;
}